.banner{
    background-image: linear-gradient(to right, rgba(17, 17, 17, 1), rgba(17, 17, 17, 0)), url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin: 0 auto;
}